#account-details {
    
    .container {
     display: flex;


        .account {
            

            .profile{
                display: flex;
                flex-direction: column;
                text-align: center;
                padding: 50px 40px 0 50px;

            }

                .buttons {
                    padding: 0 15px 10px 20px;

 
                    .btn-theme {
                        text-decoration: none;
                        padding: 10px 15px;
                        color: $gray-800;
                        font-weight: 600;
                        background-color: #FFFFFF;
                        justify-content: left;
                        
     
                        i {
                            color: $gray-600;
                            margin-right: 2px;
                        }
     
                        &.active {
                            background-color: $theme;
                            color: #FFFFFF;
               
                            i {
                                color: #FFFFFF;
                            }
                        }
                    }
                }
            

        }

        .content-box {
            padding-left: 50px;
            padding-top: 50px;
            justify-content: center;
            border-left: 2px solid $gray-100;


            h5 {
                color: #6366F1;

            }
            .basic-info {
                
                form {
                    display: grid;
                    grid-template-columns: 1fr 1fr;


                    label {
                        display: block;
                    }
                }

            }      
            
            .address-info {

                form {
                    display: grid;
                    grid-template-columns: 1fr 1fr;

                    label {
                        display: block;
                    }
                }
            }

        }
    }
}