#our-courses {

    .container {

        .slider {
            display: flex;
            justify-content: center;
            padding-top: 20px;
        }

        .headline {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .forms {
                position: relative;
                display: flex;
                align-items: center;
                gap: 15px;
                padding-top: 10px;

                #choose {
                    border: 1px solid $gray-400;
                    padding: .4rem 1rem;
                    border-radius: .5em;
                }

                input {
                    border: 1px solid $gray-400;
                }

                i {
                    position: absolute;
                    top: 20px;
                    right: 10px;
                }
            }
        }

        .content {
            display: grid;
            grid-template-columns: 1fr;
            border-radius: 10px;
            gap: 20px;

            @include lg {
                grid-template-columns: 1fr 1fr 1fr;
                border-radius: 10px;
                gap: 40px;
            }


            .content-box {
                justify-content: center;
                border: 1px solid $gray-100;
                border-radius: 15px;
                text-align: left;
                position: relative;
                box-shadow: 0 0 15px gray;


                .photo {
                    width: 100%;
                }

                &:hover {
                    transition: all 0.15s ease-in-out;
                    cursor: pointer;
                    @include shadow-m;
                }


                .bestseller {
                    position: absolute;
                    top: 15px;
                    left: 10px;
                    color: white;
                    background-color: $success;
                    border-radius: 5px;
                    padding: 2px;
                }

                button {
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    background-color: white;
                    border: 2px solid white;
                    border-radius: 25px;

                    :hover {
                        opacity: 0.5;
                    }
                }

                hr {
                    margin-left: 25px;
                    width: 90%;
                }

                h5 {
                    padding-left: 15px;
                    padding-top: 10px;
                }

                p {
                    padding-left: 15px;
                }

                h6 {
                    margin-top: 0;
                    color: $theme;
                    margin-left: 15px;


                    &.sale {
                        color: $danger;
                        
                    }

                    span {
                        color: #B4B7C9;
                        font-weight: 400;
                    }
                }
                   
                .ratings {
                    display: flex;
                    gap: 5px;
                    padding-left: 5px;

                    i {
                        margin: 5px;
                    }
                }
                
            }
        }
    }
}
