#download {
    display: flex;
    background-color: $gray-100;

    .container {
        background-color: $gray-200;
        padding-bottom: 50px;

        @include lg {
            display: flex;
            justify-content: space-between;
            padding-bottom: 100px;
        }

        .mobile {
            padding: 50px 80px 0 100px;
            width: auto;
            height: auto;

            @include lg {
                width: 100%;
            }
            
        }
        
        .content {
           
            h1 {
                padding: 75px 80px 0 80px;

                @include lg {
                    padding: 150px 80px 0 80px;
                }
            }
            .content-box {
               display: flex;
               padding-left: 80px;
               padding-top: 50px;

               i {
                color: rgb(224, 188, 28);
               }

               img {

                margin-left: 30px;
                margin-top: 82px;
                    
               }
            }
        }
    }
}