#newsletter {
    background-color: $gray-100;


    .container {



        .headline {
            display: flex;
            justify-content: center;
            text-align: center;
            padding-top: 100px;

            @include lg {
                margin-right: 100px;
            }

            img {
                margin-top: 20px;
                margin-left: 30px;
            }
        }

        .content {
            flex: 1;
            padding: 2rem 6rem;

            @include lg {
                display: flex;
                justify-content: center;
                padding: 50px 0;
                gap: 15px;
            }

            h5 {
                width: 200px;
                margin-right: 40px;
            }

            .content-box {
                display: grid;
                grid-template-rows: 1fr;
                gap: 20px;

                @include lg {
                    grid-template-columns: 1fr 1fr 1fr;
                    gap: 20px;
                }
            }
        }

        .text-box {
            padding-bottom: 80px;
            position: relative;


            form {
                display: flex;
                justify-content: center;
                align-items: center;

                input {
                    flex: 0.60;
                    width: 50%;
                    border-radius: 10px;

                    &::placeholder {
                        padding-left: 30px;
                    }
                }

                i {
                    position: absolute;
                    transform: translateY(-50%);
                    font-size: 150%;
                    left: 100px;
                    top: 22px;

                    @include md {
                        left: 110px;
                    }



                    @include lg {
                        left: 160px;
                    }

                    @include xl {
                        left: 195px;
                    }

                    @include xxl {
                        left: 230px;
                    }
                }

                a {
                    margin-left: 20px;
                }
            }

            p {
                justify-content: left;
                padding-top: 20px;
                padding-left: 250px;

                span {
                    color: rgb(73, 73, 245);
                }
            }
        }
    }
}
