#subscribe {
    background-color: $gray-100;


    .container {
        width: 60%;


        .headline {
            display: flex;
            justify-content: center;
            text-align: center;
            padding-top: 100px;

            img {
                margin-top: 20px;
                margin-left: 30px;
            }
        }

        .content {
            flex: 1;
            padding: 2rem 6rem;

            @include lg {
                display: flex;
                justify-content: center;
                padding: 3rem 0;
                gap: 1rem;
            }

            h5 {
                width: 20%;
                margin-right: 2.5rem;
            }

            .content-box {
                display: grid;
                grid-template-rows: 1fr;
                gap: 2rem;

                @include lg {
                    grid-template-columns: 1fr 1fr 1fr;
                    gap: 1.2rem;
                }
                
                .checkbox-group {


                    .input-group {
                        display: inline-block;
                        margin-left: 1rem;

                    }
                }

            }
        }

        .form-email {
            padding-bottom: 80px;


            .input-group {
                display: flex;
                justify-content: center;
                position: relative;


                input {
                    flex: 1;
                    border-radius: 10px;
                    text-indent: 3rem;

                }

                i {
                    position: absolute;
                    transform: translateY(-50%);
                    font-size: 150%;
                    left: 10px;
                    top: 18px;

        
                }

                button {
                    margin-left: 30px;
                    border-radius: 10px;
                }
            }

            p {
                text-align: left;
                padding-top: 20px;

                span {
                    color: rgb(73, 73, 245);
                }
            }
        }
    }
}
