#work-tools {

    .container {

        .headline {
            text-align: center;
            padding: 50px 125px;

            @include lg {
                padding: 100px 250px;
            }
        }

        .content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 50px;
            padding-bottom: 100px;

            @include lg {
                grid-template-columns: 1fr 1fr 1fr 1fr
            }

            .content-box {
                border-radius: 8px;
                transition: 0.2s ease-in-out;
                padding: 1rem;

                &:hover {
                    box-shadow: 0 0 15px gray;
                }

                img {
                    margin-bottom: 20px;
                }
            }
        }
    }
}
