<section id="our-courses">
    <div class="container">
        <div class="page-info">
            <p><i class="fa-regular fa-house"></i> Home <i class="fa-light fa-angles-right"></i><a href="#"> Courses </a></p>
        </div>
        <div class="headline">
            <h1>Courses</h1>
            <div class="forms">
                <select id="choose">
                    <option>All Categories</option>
                    <option>Fullstack</option>
                    <option>Web developer</option>
                </select>
                <form>
                    <input class="form-control" type="text" placeholder="Search courses"><i class="fa-regular fa-magnifying-glass"></i>
                </form>
            </div>
        </div>
        <div class="content">
            <div class="content-box">
                <img class="photo" src="images/fullstack.svg" alt="">
                <img class="icon-1" src="images/icons/bestseller.svg" alt="">
                <img class="icon-2" src="images/icons/tab.svg" alt="">
                <h5>Fullstack Web Developer Course from Scratch</h5>
                <p>By Robert Fox</p>
                <h6>$12.50</h6>
                <hr>
                <div class="ratings">
                    <p><i class="fa-regular fa-clock"></i>220 hours</p>
                    <p><i class="fa-regular fa-thumbs-up"></i>94%(4.2K)</p>
                </div>
            </div>
            <div class="content-box">
                <img class="photo" src="images/webdeveloper.svg" alt="">
                <img class="icon-2" src="images/icons/tab.svg" alt="">
                <h5>HTML, CSS, JavaScript Web <br>Developer</h5>
                <p>By Jenny Wilson & Marvin McKinney</p>
                <h6>$15.99</h6>
                <hr>
                <div class="ratings">
                    <p><i class="fa-regular fa-clock"></i>160 hours</p>
                    <p><i class="fa-regular fa-thumbs-up"></i>92% (3.1K)</p>
                </div>
            </div>
            <div class="content-box">
                <img class="photo" src="images/frontend.svg" alt="">
                <img class="icon-2" src="images/icons/tab.svg" alt="">
                <h5>The Complete Front-End Web Development Course</h5>
                <p>By Albert Flores</p>
                <div class="price">
                    <h6>$9.99</h6>
                    <h7>$44.99</h7>
                </div>
                <hr>
                <div class="ratings">
                    <p><i class="fa-regular fa-clock"></i>100 hours</p>
                    <p><i class="fa-regular fa-thumbs-up"></i>98% (2.7K)</p>
                </div>
            </div>
            <div class="content-box">
                <img class="photo" src="images/iosApp.svg" alt="">
                <img class="icon-2" src="images/icons/tab.svg" alt="">
                <h5>iOS & Swift - The Complete iOS App Development Course</h5>
                <p>By Marvin McKinney</p>
                <h6>$15.99</h6>
                <hr>
                <div class="ratings">
                    <p><i class="fa-regular fa-clock"></i>160 hours</p>
                    <p><i class="fa-regular fa-thumbs-up"></i>92% (3.1K)</p>
                </div>
            </div>
            <div class="content-box">
                <img class="photo" src="images/python.svg" alt="">
                <img class="icon-2" src="images/icons/tab.svg" alt="">
                <img class="icon-1" src="images/icons/bestseller.svg" alt="">
                <h5>Data Science & Machine Learning with Python</h5>
                <p>By Esther Howard</p>
                <h6>$11.20</h6>
                <hr>
                <div class="ratings">
                    <p><i class="fa-regular fa-clock"></i>160 hours</p>
                    <p><i class="fa-regular fa-thumbs-up"></i>92% (3.1K)</p>
                </div>
            </div>
            <div class="content-box">
                <img class="photo" src="images/css.svg" alt="">
                <img class="icon-2" src="images/icons/tab.svg" alt="">
                <h5>Creative CSS Drawing Course: Make Art With CSS</h5>
                <p>By Robert Fox</p>
                <h6>$10.50</h6>
                <hr>
                <div class="ratings">
                    <p><i class="fa-regular fa-clock"></i>220 hours</p>
                    <p><i class="fa-regular fa-thumbs-up"></i>94%(4.2K)</p>
                </div>
            </div>
            <div class="content-box">
                <img class="photo" src="images/video-games.svg" alt="">
                <img class="icon-2" src="images/icons/tab.svg" alt="">
                <h5>Blender Character Creator v2.0 for Video Games Design</h5>
                <p>By Ralph Edwards</p>
                <h6>$18.99</h6>
                <hr>
                <div class="ratings">
                    <p><i class="fa-regular fa-clock"></i>160 hours</p>
                    <p><i class="fa-regular fa-thumbs-up"></i>92% (3.1K)</p>
                </div>
            </div>
            <div class="content-box">
                <img class="photo" src="images/mobile-games.svg" alt="">
                <img class="icon-2" src="images/icons/tab.svg" alt="">
                <h5>The Ultimate Guide to 2D Mobile Game Development with Unity</h5>
                <p>By Albert Flores</p>
                <div class="price">
                    <h6>$12.99</h6>
                    <h7>$44.99</h7>
                </div>
                <hr>
                <div class="ratings">
                    <p><i class="fa-regular fa-clock"></i>100 hours</p>
                    <p><i class="fa-regular fa-thumbs-up"></i>98% (2.7K)</p>
                </div>
            </div>
            <div class="content-box">
                <img class="photo" src="images/JMETER.svg" alt="">
                <img class="icon-2" src="images/icons/tab.svg" alt="">
                <h5>Learn JMETER from Scratch on Live Apps-Performance Testing</h5>
                <p>By Jenny Wilson</p>
                <h6>$14.50</h6>
                <hr>
                <div class="ratings">
                    <p><i class="fa-regular fa-clock"></i>160 hours</p>
                    <p><i class="fa-regular fa-thumbs-up"></i>92% (3.1K)</p>
                </div>
            </div>
        </div>
        <div class="slider">
            <img src="images/icons/slider.svg" alt="">
        </div>
    </div>
</section>