<section id="get-started">
    <div class="container">
        <div class="content">
            <p>Ready to get started?</p>
            <h1>Take Your <span>Skills</span> to the Next Level</h1>
            <a class="btn-theme" href="#">Work with us</a>
        </div>
        <div class="photo">
            <img src="images/paint.svg" alt="">
        </div>
    </div>
</section>